<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.uglyread">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Feed"
            android:theme="@style/dialogStyle2"></activity>
        <activity android:name=".recycler_city" />
        <activity
            android:name=".setting"
            android:theme="@style/dialogStyle2"/>
        <activity
            android:name=".tosave"
            android:theme="@style/Dialog" />
        <activity
            android:name=".SingleTech_detail"
            android:theme="@style/dialogStyle2" />
        <activity
            android:name=".zero_act"
            android:label="挽天倾">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".first_act"
            android:label="This is main theme"></activity>
        <activity
            android:name=".second_act"
            android:label="This is second theme"></activity>
    </application>

</manifest>